$banner-height: 220px;
$font-family: 'Montserrat';
$font-size: 48px;
$font-weight: 700;
$white-color: white;
$brightness-filter: 60%;
$border-radius: 25px;

[class*="banner"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $banner-height;

  .accueil-text {
    position: absolute;
    z-index: 2;
    width: 50%;
    text-align: center;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $white-color;
  }

  .img-banner {
    object-fit: cover;
    filter: brightness($brightness-filter);
    border-radius: $border-radius;
    width: 100%;
  }
}

@media (max-width: 768px) {
  [class*="banner"] {
    .accueil-text {
      width: 60%;
      text-align: start;
    }
  }
}