.Gallery {
  background-color: #F6F6F6;
  margin-top: 3%;
  border-radius: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery-content {
    max-width: 100%;
    max-height: 100%;
    padding: 40px;
    display: grid;
    grid-template-areas: "card card card";
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .Gallery {
    background-color: white;
    margin: 5% auto;

    .gallery-content {
      grid-template-areas: "card";
      padding: 0px;
      gap: 20px;
    }
  }
}