$border-radius: 5px;
$height: 40px;

.collapse {
  flex: 1;
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: $border-radius;
  height: fit-content;

  .collapse-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $height;
    border-radius: $border-radius;
    padding: 0 15px;
    background-color: #FF6060;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border: none;

    .chevron {
      cursor: pointer;
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;

    &.open {
      max-height: 500px;
      padding: 15px 20px;
      animation: opencollapse 0.4s ease-out;
    }
  }
}

@keyframes opencollapse {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .collapse-about-title,
  .collapse-about-text {
    width: 100%;
  }
}
