.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 40px;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #FF6060;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border: none;
}

.collapse-text {
  margin-top: -7px;
  max-height: 0;
  overflow: hidden;
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: 5px;
  padding: 0 20px; 
  transition: max-height 0.4s ease-out, padding 0.4s ease-out; 

  &.open {
    max-height: 500px; 
    padding: 30px 20px; 
  }
}

.collapse-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;

  .collapse-about-title,
  .collapse-about-text {
    width: 1050px;
  }
}

.collapse-logement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 1282px;
  margin: 20px 0 50px;

  .btn-description,
  .btn-equipments {
    width: 600px;
    position: relative;
  }

  .btn-description-text,
  .btn-equipments-text {
    width: 600px;
    height: 185px;
  }
}

.equipment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@keyframes openCollapse {
  from { transform: translateY(20px); }
  to { transform: translateY(0); }
}