$main-color: #FF6060;
$secondary-color: #E3E3E3;
$btn-hover-color: white;
$btn-color: rgb(181, 181, 181);
$font-family: 'Montserrat';
$width: 100%;

@mixin display-flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.main-color {
  color: $main-color;
}

.main-scd-color {
  color: $secondary-color;
}

.gallery-card {
  @include display-flex(column, space-between, center);
  margin: 3% 0;
  width: 100%;
}

.carousel {
  width: 100%;
  @include display-flex(column, space-between, center);

  .carousel-image {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    margin-bottom: 30px;
    object-fit: cover;
  }

  .carousel-index {
    position: absolute;
    bottom: 150px;
    left: 50%;
    font-weight: bolder;
    color: $btn-hover-color;
  }

  .btn-left,
  .btn-right {
    position: absolute;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: $font-family;
    font-size: 50px;
    color: $btn-color;

    &:hover {
      color: $btn-hover-color;
    }
  }

  .btn-left {
    top: 50%;
    left: 5%;
  }

  .btn-right {
    top: 50%;
    right: 5%;
  }
}

.informations-logement {
  @include display-flex(row, space-between);
  width: $width;
  height: 130px;

  .title-location-tags {
    @include display-flex(column, space-between, start);
    margin-bottom: 0;
    height: 100%;

    .title {
      line-height: 52px;
      font-size: 36px;
      color: $main-color;
    }

    .location {
      font-size: 16px;
      font-weight: 500;

    }

    .tags-container {
      @include display-flex(row);
      gap: 20px;
      height: 40px;

      .tags {
        padding: 5px 25px;
        border-radius: 5px;
        background-color: $main-color;
        color: $btn-hover-color;
        font-size: medium;
        font-weight: 600;
      }
    }
  }

  .host-rating {
    @include display-flex(column, space-between, flex-end);
    height: 100%;

    .host {
      @include display-flex(row, flex-end, center);
      gap: 10px;

      .name {
        width: 80px;
        height: 52px;
        margin-top: 5px;
        text-align: end;
        font-size: large;
        color: $main-color;
      }

      .picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }

    .rating {
      @include display-flex(row, space-between);
      width: 140px;
      height: 40px;
      font-size: 20px;
    }
  }
}


.collapse-logement {
  height: 40px;
  display: flex;
  gap: 6%;
  margin-top: 15px;
}



@media (max-width: 768px) {
  .informations-logement {
    @include display-flex(column);
    width: $width;

    .title-location-tags {
      @include display-flex(column, center, flex-start);
      width: 100%;
      
    }

    .host-rating {
      @include display-flex(row-reverse, space-between);
      width: 100%;
      height: min-content;
    }    
  }

}