$secondary-color: #E3E3E3;
$btn-hover-color: white;
$btn-color: rgb(158, 158, 158);

.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;

    .modal-image {
      max-width: 100%;
      max-height: 600px;
      object-fit: cover;
      border-radius: 10px;
    }

    .modal-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 35px;
      color: $btn-color;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .btn-left-modal,
    .btn-right-modal {
      position: absolute;
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;
      font-size: 50px;
      color: $btn-color;

      &:hover {
        color: white;
      }
    }

    .btn-left-modal {
      top: 0;
      bottom: 0;
      left: 0;
    }

    .btn-right-modal {
      top: 0;
      bottom: 0;
      right: 0;
    }

    .modal-index {
      position: absolute;
      bottom: 2%;
      left: 50%;
      font-weight: bolder;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    .modal-content {
      max-width: 90%;
      max-height: 500px;
    }
  }
}